

        <div class="col-s-12 col-m-6" >
            <div class="foto">
                <img src="../../../assets/img/xd.jpg" alt="foto">
            </div>
        </div>

        <div class="col-s-12 col-m-6 " *ngIf="infouserservice.cuentaactiva">
            <div class="info" *ngIf="infouserservice.usuario">
                <h1>Usuario</h1>
                <p>{{ infouserservice.usuario.getusuariousuario}}</p>
                <h1>Nombres y Apellidos</h1>
                <p>{{ infouserservice.usuario.getnombreUsuario}}  {{infouserservice.usuario.getApellidoUsuario }}</p>
                <h1>Direccion</h1>
                <p>{{ infouserservice.usuario.getDireccionUsuario }}</p>
                <h1>DNI</h1>
                <p>{{ infouserservice.usuario.getdniUsuario }}</p>
                <h1>Numero de Contacto</h1>
                <p>{{ infouserservice.usuario.getcelularUsuario }}</p>
                <h1>Correo Electronico</h1>
                <p>{{ infouserservice.usuario.getCorreoUsuario }}</p>
            </div>
        </div>
        <div *ngIf="infouserservice.cuentaactiva[2]=='1'">
            <div class="info" >
                <h1>COdigo Local</h1>
                <p>{{infouserservice.local.getcodLocal}}</p>
                <h1>Nombre Local</h1>
                <p>{{ infouserservice.local.getnombreLocal}}  </p>
                <h1>RUC</h1>
                <p>{{ infouserservice.local.getrucLocal}}</p>
                <h1>ubicacion</h1>
                <p>{{ infouserservice.local.getubicacionLocal }}</p>
            </div>
          </div>

