
        <div class="col-s-12">
            <div class="filtro">
                <form target="_blank">

                    <div class="col-s-2 titulo">
                        <p>Búsqueda: </p>
                    </div>

                    <div class="col-s-7 buscador">
                        <input type="search" name="busquedamusica" placeholder="Canción, autor, álbum...">
                    </div>

                    <div class="col-s-3 buscar">
                        <input type="submit" value="Buscar">
                    </div>
        
                  </form>
            </div>
        </div>

        <div class="col-s-12 content">
            <div class="galeria">

                <div *ngFor="let productolocal of getproductolocalservice.productoslocal" class="col-s-6 col-m-4 fotos">
                    <img src="{{productolocal.getproducto.getimagenproducto}}" alt="">
                        <div class="infor">
                            <h1>{{productolocal.getproducto.getnombreproducto}}</h1>
                            <p>{{productolocal.getproducto.getdescripcionproducto}}</p>
                        </div>
                        <div class="boton">
                            <div class="price">
                                <h2>Precio</h2>
                            </div>
                            <div class="for">
                                <form (ngSubmit)="getproductolocalservice.agregar()" action="">
                                    <label for="precio">Precio</label>
                                        <input type="number"
                                        class="col-s-12"                                       
                                        id="precio" 
                                        placeholder="Precio" 
                                        name="precio"
                                        [(ngModel)]="precio">
                                    <div class="enviar">
                                        <button  type="submit">Agregar</button>
                                    </div>
                                    
                                </form>
                            </div>
                        </div>
                </div>

               

            </div>
        </div>
